In [1]:
import numpy
import pandas
from plotly import express
from plotly import io

In [2]:
3 * 8

24

In [3]:
(33+7)/5

8.0

In [4]:
1+2.

3.0

In [5]:
1 +2

3

The reason 1 +2. and 1 +2 are different is because 1 + 2. is a float

In [6]:
i = 1
while i**2 < 1000:
    print(i**2)
    i += 1
print(f"The last i was {i}")

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
The last i was 32

The solution is 32 because 32^2 is the last number that is below or equal to 1000.